/* Imports */
/* Mixin for Transition */
/* Mixin for Transform */
/* Mixin for Origin */
/* Animation */
/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #ffffff; }

h1 {
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 2px; }

h2 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 1px; }

h3 {
  font-size: 30px;
  line-height: 40px; }

/* Paragraphs */
p {
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Lato', sans-serif; }

/* Icon Button */
.icon {
  font-size: 30px;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 100%;
  padding: 10px;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s; }
  .icon:hover {
    color: #ffffff;
    text-decoration: none;
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s; }
  .icon:focus {
    color: #ffffff;
    text-decoration: none; }

/* Mixin for Transition */
/* Mixin for Transform */
/* Mixin for Origin */
/* Animation */
/* Smaller Phones */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar {
    margin: 39px 0px !important; }
  header {
    padding: 40px 0px !important; }
    header h1 {
      font-size: 30px; }
    header h3 {
      font-size: 24px;
      line-height: 30px;
      padding: 0px !important; }
  #entry {
    padding: 110px 0px !important; }
    #entry h2 {
      font-size: 30px; }
    #entry p {
      padding: 20px 0px !important;
      line-height: 30px; }
  #first_styles {
    padding: 10px 0px !important; }
  #divider_ein {
    padding: 110px 0px !important; }
    #divider_ein h2 {
      font-size: 30px; }
    #divider_ein p {
      padding: 20px 0px !important;
      line-height: 30px; }
  #second_styles {
    padding: 10px 0px !important; }
  #divider_zwei {
    padding: 110px 0px !important; }
    #divider_zwei h2 {
      font-size: 30px; }
    #divider_zwei p {
      padding: 20px 0px !important;
      line-height: 30px; }
  #third_styles {
    padding: 10px 0px !important; }
  #divider_drei {
    padding: 110px 0px !important; }
    #divider_drei h2 {
      font-size: 30px; }
    #divider_drei p {
      padding: 20px 0px !important;
      line-height: 30px; }
  #fourth_styles {
    padding: 0px 0px !important; }
  #divider_vier {
    padding: 110px 0px !important; }
    #divider_vier h2 {
      font-size: 30px; }
    #divider_vier p {
      padding: 20px 0px !important;
      line-height: 30px; }
  #fifth_styles {
    padding: 0px 0px !important; }
    #fifth_styles .navbar li a {
      margin: 12px 0px !important; }
  #pre_footer {
    padding: 20px 0px !important; }
    #pre_footer h2 {
      font-size: 30px; }
    #pre_footer p {
      padding: 20px 0px !important;
      line-height: 30px; } }

/* Smaller Phones Landscape */
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
  .navbar {
    margin: 10px 0px !important; }
  header {
    padding: 10px 0px 30px 0px !important; }
  #entry {
    padding: 30px 0px !important; }
  #divider_ein {
    padding: 30px 0px !important; }
  #divider_zwei {
    padding: 30px 0px !important; }
  #divider_drei {
    padding: 30px 0px !important; }
  #divider_vier {
    padding: 30px 0px !important; } }

/* Smarth Phones */
@media screen and (min-width: 481px) and (max-width: 767px) {
  .navbar {
    margin: 90px 0px !important; }
  header {
    padding: 121px 0px !important; }
    header h1 {
      font-size: 54px; }
    header h3 {
      padding: 60px 0px !important; }
  #entry {
    padding: 230px 0px !important; }
    #entry h2 {
      font-size: 50px; }
    #entry p {
      padding: 30px !important;
      line-height: 30px; }
  #first_styles {
    padding: 20px 0px !important; }
  #divider_ein {
    padding: 230px 0px !important; }
    #divider_ein h2 {
      font-size: 50px; }
    #divider_ein p {
      padding: 30px !important;
      line-height: 30px; }
  #second_styles {
    padding: 20px 0px !important; }
  #divider_zwei {
    padding: 200px 0px !important; }
    #divider_zwei h2 {
      font-size: 50px; }
    #divider_zwei p {
      padding: 30px !important;
      line-height: 30px; }
  #third_styles {
    padding: 0px 0px !important; }
  #divider_drei {
    padding: 230px 0px !important; }
    #divider_drei h2 {
      font-size: 50px; }
    #divider_drei p {
      padding: 30px !important;
      line-height: 30px; }
  #fourth_styles {
    padding: 0px 0px !important; }
  #divider_vier {
    padding: 230px 0px !important; }
    #divider_vier h2 {
      font-size: 50px; }
    #divider_vier p {
      padding: 30px !important;
      line-height: 30px; }
  #fifth_styles {
    padding: 0px 0px !important; }
    #fifth_styles .navbar li a {
      margin: 12px 0px !important; }
  #pre_footer {
    padding: 100px 0px !important; }
    #pre_footer h2 {
      font-size: 50px; }
    #pre_footer p {
      padding: 30px !important;
      line-height: 30px !important; } }

/* Smarth Phones Landscape */
@media screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  .navbar {
    margin: 40px 0px !important; }
  header {
    padding: 50px 0px !important; }
    header h1 {
      font-size: 54px; }
    header h3 {
      padding: 30px 0px !important; }
  #entry {
    padding: 100px 0px !important; }
  #divider_ein {
    padding: 100px 0px !important; }
  #divider_zwei {
    padding: 100px 0px !important; }
  #divider_drei {
    padding: 100px 0px !important; }
  #divider_vier {
    padding: 100px 0px !important; } }

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    margin: 110px 0px !important; }
    .navbar .navbar-nav li a {
      margin: 0px 5px !important; }
  header {
    padding: 200px 0px !important; }
    header h1 {
      font-size: 80px; }
    header h3 {
      padding: 60px 0px !important;
      font-size: 34px; }
  #entry {
    padding: 200px 0px !important; }
    #entry h2 {
      font-size: 50px; }
    #entry p {
      padding: 50px !important;
      line-height: 30px; }
  #divider_ein h2 {
    font-size: 50px; }
  #first_styles {
    padding: 0px !important; }
  #divider_zwei h2 {
    font-size: 50px; }
  #second_styles {
    padding: 0px !important; }
  #divider_drei h2 {
    font-size: 50px; }
  #third_styles {
    padding: 0px 0px !important; }
  #fourth_styles {
    padding: 0px 0px !important; }
  #divider_vier h2 {
    font-size: 50px; }
  #pre_footer h2 {
    font-size: 50px; } }

/* Tablets Landscape */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .navbar {
    margin: 60px !important; }
    .navbar .navbar-nav li a {
      margin: 0px !important;
      padding: 10px !important; }
  header {
    padding: 130px 0px !important; }
    header h1 {
      font-size: 80px; }
    header h3 {
      padding: 60px 0px !important; }
  #first_styles {
    padding: 0px !important; }
  #divider_ein {
    padding: 200px 0px !important; }
  #divider_zwei {
    padding: 200px 0px !important; }
  #divider_drei {
    padding: 200px 0px !important; }
  #divider_vier {
    padding: 200px 0px !important; } }

/* Laptops and iPads */
/* Tablets */
@media screen and (min-width: 1025px) and (max-width: 1444px) {
  .navbar {
    margin: 100px 0px !important; }
    .navbar .navbar-nav li a {
      padding: 15px 8px !important;
      margin: 0px 5px !important; }
  header {
    padding: 200px 0px !important; }
    header h1 {
      font-size: 80px; }
    header h3 {
      padding: 60px 0px !important;
      font-size: 34px; }
  #first_styles {
    padding: 0px !important; }
  #second_styles {
    padding: 0px !important; }
  #third_styles {
    padding: 0px !important; }
  #fourth_styles {
    padding: 0px !important; } }

/* Laptops and iPads Landscape */
/* Mixin for Transition */
/* Mixin for Transform */
/* Mixin for Origin */
/* Animation */
/* Base Styling for Each Navigation */
.navbar {
  background-color: #ffffff;
  margin: 50px 0px;
  border: none; }
  .navbar .navbar-brand {
    color: #28a7e9;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s; }
    .navbar .navbar-brand:hover {
      -webkit-transition: all linear 0.5s;
      -moz-transition: all linear 0.5s;
      -ms-transition: all linear 0.5s;
      -o-transition: all linear 0.5s;
      transition: all linear 0.5s; }
  .navbar .navbar-nav li a {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #666666;
    margin: 0px 12px;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s; }
    .navbar .navbar-nav li a:hover {
      color: #333333;
      -webkit-transition: all linear 0.5s;
      -moz-transition: all linear 0.5s;
      -ms-transition: all linear 0.5s;
      -o-transition: all linear 0.5s;
      transition: all linear 0.5s; }
    .navbar .navbar-nav li a:focus {
      color: #666666; }

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #28a7e9;
  height: 200px; }

/* 1 X 1 */
#fjord li a {
  position: relative;
  display: inline-block; }

#fjord li::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #28a7e9;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }

#fjord li:hover::after {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }

/* 1 X 2 */
#oathkeeper li a {
  position: relative;
  display: inline-block; }

#oathkeeper li::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #28a7e9;
  position: absolute;
  bottom: 50%;
  left: 0;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

#oathkeeper li:hover::after {
  width: 100%;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

/* 1 X 3 */
#blade li a {
  position: relative;
  display: inline-block; }

#blade li::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #28a7e9;
  position: absolute;
  bottom: 0%;
  left: 20%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

#blade li:hover::after {
  width: 70px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

/* 1 X 4 */
#legacy li a {
  position: relative;
  display: inline-block; }

#legacy li::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #28a7e9;
  position: absolute;
  bottom: -20%;
  left: 0;
  opacity: 0;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

#legacy li:hover::after {
  bottom: 20%;
  width: 100%;
  opacity: 1;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

/* 1 X 5 */
#remorseless li a {
  position: relative;
  display: inline-block; }

#remorseless li::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #28a7e9;
  position: absolute;
  top: -20%;
  left: 0;
  opacity: 0;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

#remorseless li:hover::after {
  top: 20%;
  width: 100%;
  opacity: 1;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

/* 2 X 1 */
#psionic li a {
  position: relative;
  display: inline-block; }

#psionic li::before {
  content: '';
  width: 0;
  height: 3px;
  background-color: #28a7e9;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

#psionic li:hover::before {
  width: 100%;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

#psionic li::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #28a7e9;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

#psionic li:hover::after {
  width: 100%;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

/* 2 X 2 */
#yamato li a {
  position: relative;
  display: inline-block; }

#yamato li::before {
  content: '';
  width: 30px;
  height: 3px;
  background-color: #28a7e9;
  position: absolute;
  display: inline-block;
  left: -20px;
  bottom: 50%;
  opacity: 0;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

#yamato li:hover::before {
  left: -10px;
  opacity: 1;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

#yamato li::after {
  content: '';
  width: 30px;
  height: 3px;
  background-color: #28a7e9;
  position: absolute;
  display: inline-block;
  right: -20px;
  bottom: 50%;
  opacity: 0;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

#yamato li:hover:after {
  right: -10px;
  opacity: 1;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

/* 2 X 3 */
#warp li a {
  position: relative;
  display: inline-block; }

#warp li::before {
  content: '';
  width: 0;
  height: 3px;
  background-color: #28a7e9;
  position: absolute;
  top: 0%;
  left: 20%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

#warp li:hover::before {
  width: 70px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

#warp li::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #28a7e9;
  position: absolute;
  bottom: 0%;
  left: 20%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

#warp li:hover::after {
  width: 70px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

/* 2 X 4 */
#bane li a {
  position: relative;
  display: inline-block; }

#bane li::before {
  content: '[';
  color: #28a7e9;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  top: 20%;
  opacity: 0;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

#bane li:hover::before {
  opacity: 1;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  transform: translateX(-10px); }

#bane li::after {
  content: ']';
  color: #28a7e9;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  top: 20%;
  opacity: 0;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

#bane li:hover::after {
  opacity: 1;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform: translateX(6px);
  -moz-transform: translateX(6px);
  -ms-transform: translateX(6px);
  -o-transform: translateX(6px);
  transform: translateX(6px); }

/* 2 X 5 */
#photon li a {
  position: relative;
  display: inline-block; }

#photon li::before {
  content: '';
  position: absolute;
  background-color: #28a7e9;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }

#photon li:hover::before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }

#photon li::after {
  content: '';
  position: absolute;
  background-color: #28a7e9;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  opacity: 0;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }

#photon li:hover::after {
  bottom: 100%;
  opacity: 1;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }

/* 3 X 1 */
#miraak li a {
  position: relative;
  display: inline-block;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  transition: all linear 0.4s; }

#miraak li:hover {
  -webkit-box-shadow: inset 100px 0 0 0 #28a7e9;
  box-shadow: inset 100px 0 0 0 #28a7e9;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  transition: all linear 0.4s; }

/* 3 X 2 */
#chillrend li a {
  position: relative;
  display: inline-block;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  transition: all linear 0.4s; }

#chillrend li :hover {
  opacity: 0.9;
  text-shadow: 10px 10px #28a7e9;
  color: #28a7e9;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9); }

/* 3 X 3 */
#dragonbane li a {
  position: relative;
  display: inline-block;
  -webkit-transition: all linear 0.7s;
  -moz-transition: all linear 0.7s;
  -ms-transition: all linear 0.7s;
  -o-transition: all linear 0.7s;
  transition: all linear 0.7s; }

#dragonbane li:hover {
  -webkit-box-shadow: inset 0 100px 0 0 #28a7e9;
  box-shadow: inset 0 100px 0 0 #28a7e9;
  -webkit-transition: all linear 0.7s;
  -moz-transition: all linear 0.7s;
  -ms-transition: all linear 0.7s;
  -o-transition: all linear 0.7s;
  transition: all linear 0.7s; }

/* 3 X 4 */
#soulrender li a {
  position: relative;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#28a7e9), color-stop(50%, #28a7e9), color-stop(50%, #666666));
  background-image: -webkit-linear-gradient(left, #28a7e9, #28a7e9 50%, #666666 50%);
  background-image: -o-linear-gradient(left, #28a7e9, #28a7e9 50%, #666666 50%);
  background-image: linear-gradient(to right, #28a7e9, #28a7e9 50%, #666666 50%);
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: all linear 0.6s;
  -moz-transition: all linear 0.6s;
  -ms-transition: all linear 0.6s;
  -o-transition: all linear 0.6s;
  transition: all linear 0.6s; }
  #soulrender li a:hover {
    background-position: 0%;
    -webkit-transition: all 0.6s cubic-bezier(0, 0, 0.23, 1);
    -moz-transition: all 0.6s cubic-bezier(0, 0, 0.23, 1);
    -ms-transition: all 0.6s cubic-bezier(0, 0, 0.23, 1);
    -o-transition: all 0.6s cubic-bezier(0, 0, 0.23, 1);
    transition: all 0.6s cubic-bezier(0, 0, 0.23, 1); }

/* 3 X 5 */
#bloodscythe li a {
  position: relative;
  display: inline-block; }
  #bloodscythe li a::before {
    color: #28a7e9;
    position: absolute;
    content: attr(data-hover);
    opacity: 0;
    -webkit-transform: translateX(20px) translateY(-20px) rotate(10deg) scale(1.1);
    -moz-transform: translateX(20px) translateY(-20px) rotate(10deg) scale(1.1);
    -ms-transform: translateX(20px) translateY(-20px) rotate(10deg) scale(1.1);
    -o-transform: translateX(20px) translateY(-20px) rotate(10deg) scale(1.1);
    transform: translateX(20px) translateY(-20px) rotate(10deg) scale(1.1);
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s; }
  #bloodscythe li a:hover::before {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg) scale(1);
    -moz-transform: translateX(0px) translateY(0px) rotate(0deg) scale(1);
    -ms-transform: translateX(0px) translateY(0px) rotate(0deg) scale(1);
    -o-transform: translateX(0px) translateY(0px) rotate(0deg) scale(1);
    transform: translateX(0px) translateY(0px) rotate(0deg) scale(1);
    opacity: 1; }

/* 4 X 1 */
#ashbringer li a {
  position: relative;
  display: inline-block; }
  #ashbringer li a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #28a7e9;
    content: '';
    opacity: 0;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s; }
  #ashbringer li a::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #28a7e9;
    opacity: 0;
    content: '';
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
    -webkit-transform: translateY(-7px) translateX(6px);
    -moz-transform: translateY(-7px) translateX(6px);
    -ms-transform: translateY(-7px) translateX(6px);
    -o-transform: translateY(-7px) translateX(6px);
    transform: translateY(-7px) translateX(6px); }
  #ashbringer li a:hover::before {
    opacity: 0;
    -webkit-transform: translateY(5px) translateX(-5px);
    -moz-transform: translateY(5px) translateX(-5px);
    -ms-transform: translateY(5px) translateX(-5px);
    -o-transform: translateY(5px) translateX(-5px);
    transform: translateY(5px) translateX(-5px); }
  #ashbringer li a:hover::after {
    opacity: 1;
    -webkit-transform: translateY(0px) translateX(0px);
    -moz-transform: translateY(0px) translateX(0px);
    -ms-transform: translateY(0px) translateX(0px);
    -o-transform: translateY(0px) translateX(0px);
    transform: translateY(0px) translateX(0px); }

/* 4 X 2 */
#atiesh li a {
  position: relative;
  display: inline-block; }
  #atiesh li a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #28a7e9;
    content: '';
    opacity: 0;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s; }
  #atiesh li a:hover::before {
    opacity: 1;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }

/* 4 X 3 */
#doomhamm li a {
  position: relative;
  display: inline-block; }
  #doomhamm li a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 3px solid #28a7e9;
    border-bottom: 3px solid #28a7e9;
    content: '';
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%; }
  #doomhamm li a::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 3px solid #28a7e9;
    border-top: 3px solid #28a7e9;
    content: '';
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0; }
  #doomhamm li a:hover::before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s; }
  #doomhamm li a:hover::after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s; }

/* 4 X 4 */
#ellemayne li a {
  position: relative;
  display: inline-block; }
  #ellemayne li a::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    border: 3px solid #28a7e9;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s; }
  #ellemayne li a:hover::before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s; }

/* 4 X 5 */
#gorehowl li a {
  position: relative;
  display: inline-block; }
  #gorehowl li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    -webkit-animation: animateOut 0.7s linear forwards;
    -moz-animation: animateOut 0.7s linear forwards;
    -ms-animation: animateOut 0.7s linear forwards;
    -o-animation: animateOut 0.7s linear forwards;
    animation: animateOut 0.7s linear forwards; }
  #gorehowl li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    -webkit-animation: animate2Out 0.7s linear forwards;
    -moz-animation: animate2Out 0.7s linear forwards;
    -ms-animation: animate2Out 0.7s linear forwards;
    -o-animation: animate2Out 0.7s linear forwards;
    animation: animate2Out 0.7s linear forwards; }
  #gorehowl li a:hover::before {
    -webkit-animation: animate 0.7s linear forwards;
    -moz-animation: animate 0.7s linear forwards;
    -ms-animation: animate 0.7s linear forwards;
    -o-animation: animate 0.7s linear forwards;
    animation: animate 0.7s linear forwards; }
  #gorehowl li a:hover::after {
    -webkit-animation: animate2 0.7s linear forwards;
    -moz-animation: animate2 0.7s linear forwards;
    -ms-animation: animate2 0.7s linear forwards;
    -o-animation: animate2 0.7s linear forwards;
    animation: animate2 0.7s linear forwards; }

/* 5 X 1 */
#unholy li a {
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  color: transparent; }
  #unholy li a::before {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 8px;
    background-color: #28a7e9;
    color: #ffffff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -ms-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;
    -webkit-transform: translateX(-100%) rotateY(90deg);
    -moz-transform: translateX(-100%) rotateY(90deg);
    -ms-transform: translateX(-100%) rotateY(90deg);
    -o-transform: translateX(-100%) rotateY(90deg);
    transform: translateX(-100%) rotateY(90deg); }
  #unholy li a::after {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #666666;
    color: #ffffff;
    padding: 15px 8px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transform: translateX(0) rotateY(0);
    -moz-transform: translateX(0) rotateY(0);
    -ms-transform: translateX(0) rotateY(0);
    -o-transform: translateX(0) rotateY(0);
    transform: translateX(0) rotateY(0); }
  #unholy li a:hover::before {
    -webkit-transform: translateX(0) rotateY(0);
    -moz-transform: translateX(0) rotateY(0);
    -ms-transform: translateX(0) rotateY(0);
    -o-transform: translateX(0) rotateY(0);
    transform: translateX(0) rotateY(0); }
  #unholy li a:hover::after {
    -webkit-transform: translateX(100%) rotateY(90deg);
    -moz-transform: translateX(100%) rotateY(90deg);
    -ms-transform: translateX(100%) rotateY(90deg);
    -o-transform: translateX(100%) rotateY(90deg);
    transform: translateX(100%) rotateY(90deg); }

/* 5 X 2 */
#felfire li a {
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  color: transparent; }
  #felfire li a::before {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 8px;
    background-color: #28a7e9;
    color: #ffffff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    -webkit-transform: translateY(100%) rotateX(90deg);
    -moz-transform: translateY(100%) rotateX(90deg);
    -ms-transform: translateY(100%) rotateX(90deg);
    -o-transform: translateY(100%) rotateX(90deg);
    transform: translateY(100%) rotateX(90deg); }
  #felfire li a::after {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #666666;
    color: #ffffff;
    padding: 15px 8px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: translateY(0) rotateX(0);
    -moz-transform: translateY(0) rotateX(0);
    -ms-transform: translateY(0) rotateX(0);
    -o-transform: translateY(0) rotateX(0);
    transform: translateY(0) rotateX(0); }
  #felfire li a:hover::before {
    -webkit-transform: translateY(0) rotateX(0);
    -moz-transform: translateY(0) rotateX(0);
    -ms-transform: translateY(0) rotateX(0);
    -o-transform: translateY(0) rotateX(0);
    transform: translateY(0) rotateX(0); }
  #felfire li a:hover::after {
    -webkit-transform: translateY(-100%) rotateX(90deg);
    -moz-transform: translateY(-100%) rotateX(90deg);
    -ms-transform: translateY(-100%) rotateX(90deg);
    -o-transform: translateY(-100%) rotateX(90deg);
    transform: translateY(-100%) rotateX(90deg); }

/* 5 X 3 */
#forgotten li a {
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  color: transparent; }
  #forgotten li a::before {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 8px;
    background-color: #28a7e9;
    color: #ffffff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transform: translateX(100%) rotateY(90deg);
    -moz-transform: translateX(100%) rotateY(90deg);
    -ms-transform: translateX(100%) rotateY(90deg);
    -o-transform: translateX(100%) rotateY(90deg);
    transform: translateX(100%) rotateY(90deg); }
  #forgotten li a::after {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #666666;
    color: #ffffff;
    padding: 15px 8px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -ms-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;
    -webkit-transform: translateX(0) rotateY(0);
    -moz-transform: translateX(0) rotateY(0);
    -ms-transform: translateX(0) rotateY(0);
    -o-transform: translateX(0) rotateY(0);
    transform: translateX(0) rotateY(0); }
  #forgotten li a:hover::before {
    -webkit-transform: translateX(0) rotateY(0);
    -moz-transform: translateX(0) rotateY(0);
    -ms-transform: translateX(0) rotateY(0);
    -o-transform: translateX(0) rotateY(0);
    transform: translateX(0) rotateY(0); }
  #forgotten li a:hover::after {
    -webkit-transform: translateX(-100%) rotateY(90deg);
    -moz-transform: translateX(-100%) rotateY(90deg);
    -ms-transform: translateX(-100%) rotateY(90deg);
    -o-transform: translateX(-100%) rotateY(90deg);
    transform: translateX(-100%) rotateY(90deg); }

/* 5 X 4 */
#apocalypse li a {
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  color: transparent; }
  #apocalypse li a::before {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 8px;
    background-color: #28a7e9;
    color: #ffffff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: translateY(-100%) rotateX(90deg);
    -moz-transform: translateY(-100%) rotateX(90deg);
    -ms-transform: translateY(-100%) rotateX(90deg);
    -o-transform: translateY(-100%) rotateX(90deg);
    transform: translateY(-100%) rotateX(90deg); }
  #apocalypse li a::after {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #666666;
    color: #ffffff;
    padding: 15px 8px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    -webkit-transform: translateY(0) rotateX(0);
    -moz-transform: translateY(0) rotateX(0);
    -ms-transform: translateY(0) rotateX(0);
    -o-transform: translateY(0) rotateX(0);
    transform: translateY(0) rotateX(0); }
  #apocalypse li a:hover::before {
    -webkit-transform: translateY(0) rotateX(0);
    -moz-transform: translateY(0) rotateX(0);
    -ms-transform: translateY(0) rotateX(0);
    -o-transform: translateY(0) rotateX(0);
    transform: translateY(0) rotateX(0); }
  #apocalypse li a:hover::after {
    -webkit-transform: translateY(100%) rotateX(90deg);
    -moz-transform: translateY(100%) rotateX(90deg);
    -ms-transform: translateY(100%) rotateX(90deg);
    -o-transform: translateY(100%) rotateX(90deg);
    transform: translateY(100%) rotateX(90deg); }

/* 5 X 5 */
#shadow li a {
  position: relative;
  display: inline-block;
  background-color: #28a7e9;
  color: #ffffff;
  -webkit-box-shadow: 3px 3px #666666;
  box-shadow: 3px 3px #666666;
  -webkit-transition: all 75ms ease-in-out;
  -moz-transition: all 75ms ease-in-out;
  -ms-transition: all 75ms ease-in-out;
  -o-transition: all 75ms ease-in-out;
  transition: all 75ms ease-in-out; }
  #shadow li a:active {
    bottom: -3px;
    right: -3px;
    -webkit-box-shadow: 0px 0px #666666;
    box-shadow: 0px 0px #666666; }

/* KEYFRAMES */
@-webkit-keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #28a7e9;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent; }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #28a7e9;
    border-right-color: #28a7e9;
    border-bottom-color: transparent;
    border-left-color: transparent; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #28a7e9;
    border-right-color: #28a7e9;
    border-bottom-color: transparent;
    border-left-color: transparent; } }
@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #28a7e9;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent; }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #28a7e9;
    border-right-color: #28a7e9;
    border-bottom-color: transparent;
    border-left-color: transparent; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #28a7e9;
    border-right-color: #28a7e9;
    border-bottom-color: transparent;
    border-left-color: transparent; } }

@-webkit-keyframes animateOut {
  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent; }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #28a7e9;
    border-right-color: #28a7e9;
    border-bottom-color: transparent;
    border-left-color: transparent; }
  0% {
    width: 100%;
    height: 100%;
    border-top-color: #28a7e9;
    border-right-color: #28a7e9;
    border-bottom-color: transparent;
    border-left-color: transparent; } }

@keyframes animateOut {
  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent; }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #28a7e9;
    border-right-color: #28a7e9;
    border-bottom-color: transparent;
    border-left-color: transparent; }
  0% {
    width: 100%;
    height: 100%;
    border-top-color: #28a7e9;
    border-right-color: #28a7e9;
    border-bottom-color: transparent;
    border-left-color: transparent; } }

@-webkit-keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #28a7e9; }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #28a7e9;
    border-left-color: #28a7e9; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #28a7e9;
    border-left-color: #28a7e9; } }

@keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #28a7e9; }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #28a7e9;
    border-left-color: #28a7e9; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #28a7e9;
    border-left-color: #28a7e9; } }

@-webkit-keyframes animate2Out {
  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent; }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #28a7e9;
    border-left-color: #28a7e9; }
  0% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #28a7e9;
    border-left-color: #28a7e9; } }

@keyframes animate2Out {
  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent; }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #28a7e9;
    border-left-color: #28a7e9; }
  0% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #28a7e9;
    border-left-color: #28a7e9; } }

/* Header */
header {
  width: 100%;
  padding: 210px 0px;
  background-color: #7f8c8d; }
  header h3 {
    padding: 36px 0px; }

/* Entry */
#entry {
  width: 100%;
  padding: 234px 0px;
  background-color: #2c3e50; }
  #entry p {
    padding: 36px 0px; }

/* First Navigations */
#first_styles {
  width: 100%;
  background-color: #ffffff;
  padding: 105px; }

/* First Divider */
#divider_ein {
  width: 100%;
  padding: 234px 0px;
  background-color: #2980b9; }
  #divider_ein p {
    padding: 36px 0px; }

/* Second Navigations */
#second_styles {
  width: 100%;
  background-color: #ffffff;
  padding: 105px; }

/* Second Divider */
#divider_zwei {
  width: 100%;
  padding: 234px 0px;
  background-color: #27ae60; }
  #divider_zwei p {
    padding: 36px 0px; }

/* Third Navigations */
#third_styles {
  width: 100%;
  background-color: #ffffff;
  padding: 105px; }

/* Third Divider */
#divider_drei {
  width: 100%;
  padding: 234px 0px;
  background-color: #d35400; }
  #divider_drei p {
    padding: 36px 0px; }

/* Fourth Navigations */
#fourth_styles {
  width: 100%;
  background-color: #ffffff;
  padding: 105px; }

/* Fourth DIvider */
#divider_vier {
  width: 100%;
  padding: 234px 0px;
  background-color: #1abc9c; }
  #divider_vier p {
    padding: 36px 0px; }

/* PreFooter */
#pre_footer {
  width: 100%;
  background-color: #2d2d2d;
  padding: 105px 0px; }
  #pre_footer p {
    padding: 36px 0px; }

/* Footer */
footer {
  width: 100%;
  background-color: #1a1a1a;
  padding: 50px 0px; }
  footer a {
    font-size: 20px;
    margin: 0px 15px;
    color: #ffffff; }
    footer a:hover {
      color: #ffffff;
      text-decoration: none; }
    footer a:active {
      color: #ffffff; }
    footer a:focus {
      color: #ffffff; }
