$white: #ffffff;
$blue: #28a7e9;
$grey: #666666;
$header-bg: #7f8c8d;
$entry-bg: #2c3e50;
$first-divider: #2980b9;
$second-divider: #27ae60;
$third-divider: #d35400;
$fourth-divider: #1abc9c;
$footer-bg: #2d2d2d;
$last-footer: #1a1a1a;